@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;515;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
  color: black;
  /*font-family: "Comfortaa", "Arial", sans-serif;*/
  font-family: "Muli", sans-serif;
}

.first {
  background: url("https://wallpaperplay.com/walls/full/3/b/9/161859.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#title {
  color: rgb(255, 255, 255, 1);
  position: relative;
  top: 35px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
}

#navbar {
  color: rgb(255, 255, 255, 1);
  position: relative;
  top: 50px;
}
#navbar > ul {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
}
#navbar > ul > li {
  font-size: 1.5rem;
  font-size: 600;
  margin: 0 1.5rem;
  text-transform: uppercase;
}

#navbar > ul > li > a {
  text-decoration: none;
  color: white;
}

#navbar > ul > li > a:hover {
  color: rgb(221, 221, 17);
  transition: 0.4s;
}

#s-quote {
  color: rgb(248, 251, 252);
  font-size: 2.7rem;
  position: relative;
  text-align: center;
  top: 50%;
  text-transform: uppercase;
  margin: 0 2rem;
}

.down {
  display: flex;
  text-align: center;
  font-size: 5rem;
  justify-content: center;
  position: relative;
  top: 59%;
  color: white;
  animation-name: first;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
@keyframes first {
  0% {
    top: 59%;
  }
  50% {
    top: 56%;
  }
  100% {
    top: 59%;
  }
}
/*
.down > i:hover {
  color: rgb(221, 221, 17);
  transition: 0.4s;
}
*/
hr {
  border: 1.5px solid black;
}

.comp > img {
  height: 150px;
  border-radius: 1rem;
  box-shadow: 7px 7px 5px rgb(49, 47, 47);
}

#facts {
  background: url("https://www.rmg.co.uk/sites/default/files/styles/banner/public/mars%20nasa.jpg?itok=WVtM_ywo");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fact {
  background-color: white;
  position: relative;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 150px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 5px 5px 3px rgb(190, 190, 194);
}
.fact > h1 {
  text-decoration: underline;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.fact > ul > li {
  list-style: none;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 900;
  margin-left: 25px;
}

.fact > ul > li:nth-child(n) {
  margin-bottom: 20px;
}

#status > h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 50px;
  text-decoration: underline;
  font-weight: 800;
}

#content {
  display: flex;
  flex-direction: row;
}

.c {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.c > i {
  font-size: 100px;
}

.c > h3 {
  font-size: 25px;
  font-weight: 900;
}

.c > p {
  font-size: 20px;
  font-weight: 500;
}

.b-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.b-quote > img {
  height: 250px;
  border-radius: 2rem;
  position: relative;
  left: 20px;
}
.b-quote > p {
  font-size: 45px;
  padding: 50px 70px;
  font-weight: 700;
}

.b-quote > p > span {
  color: gray;
  font-weight: 900;
  font-size: 70px;
}

#introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#introduction > h1 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  font-weight: 800;
}

#introduction > p {
  margin-top: 20px;
  font-size: 25px;
  justify-content: center;
  padding: 0 300px;
}

#introduction > p > a {
  font-size: 28px;
  color: rgb(3, 5, 97);
  font-weight: 900;
}

#introduction > p > a:hover {
  color: blueviolet;
  transition: 0.5s;
}

footer {
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  padding: 10px;
  text-decoration: underline;
}

footer > a:hover {
  color: rgb(94, 77, 75);
  transition: 0.5s;
}

#companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/05/27/16/frb.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#companies > h1 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  font-weight: 800;
  margin: 15px 0;
  color: whitesmoke;
}

.comp {
  padding: 15px;
  background-color: rgb(230, 233, 236);
  margin: 15px 20px;
  border-radius: 2rem;
  box-shadow: 5px 5px 3px gainsboro;
}

.comp:nth-child(n) {
  margin-bottom: 50px;
}

.comp > img {
  background: white;
  padding: 5px;
}

.comp > h2 {
  margin: 15px 0;
  font-size: 30px;
}

.comp > p {
  font-size: 25px;
  padding: 5px 0;
}
